* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: robotoBold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoExtraBold;
    src: url(./fonts/Roboto-Bold.ttf);
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: robotoBold;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #f9faf8;
    font-family: robotoLight;
    gap: 20px;
}

.hero-container {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero {
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
