* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: robotoBold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(./fonts/Roboto-Light.ttf);
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: robotoBold;
    
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #f9faf8;
    font-family: robotoLight;
    gap: 20px;
}

.hero-container {
    display: flex;
    background-color: #1f2937;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 150px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #f9faf8;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
}