* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: robotoBold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoExtraBold;
    src: url(./fonts/Roboto-Bold.ttf);
}

.container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
}

.header-container {
    /* border: 1px solid red; */
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 200px;
}

.header-logo {
    /* border: 1px solid red; */
    font-size: 24px;
    color: #f9faf8;
    font-family: robotoBold;
}

.header-links {
    /* border: 1px solid red; */
    display: flex;
    font-size: 18px;
    color: #f9faf8;
    gap: 20px;
    font-family: robotoLight;
}

.hero-container {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    height: 400px;

    /* border: 1px solid red; */
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    /* border: 1px solid red; */
}

.hero-main {
    font-size: 48px;
    font-family: robotoExtraBold;
}

.hero-secondary {
    font-size: 18px;
    font-family: robotoBold;
}

.sign-up-button {
    font-family: robotoBold;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    width: 135px;
    height: 35px;
    border-radius: 5px;
    text-align: center; 
    line-height: 35px;
}

.img-placeholder {
    background-color: grey;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
